@import url("../index.css");

.buttons-row {
  display: flex;
  gap: var(--spacing-xs);
}

.button-column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

#color-grid {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-xs);
}

.color-column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.color-swatch {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius-sm);
}
