/* Order matters */
@import url("../core/index.css");
@import url("../design/theme.css");
@import url("../design/buttons.css");

body {
  background-color: var(--background-color);
  color: var(--text-color);

  padding: var(--spacing-med);

  transition:
    ease-in-out 0.3s background-color,
    ease-in-out 0.3s color;
}

section {
  padding: var(--spacing-sm);
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

p {
  max-width: 45rem;
}

ul,
ol {
  max-width: 45rem;
  padding-inline-start: var(--spacing-sm);
}

h1 {
  font-size: 4rem;
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  letter-spacing: -2px;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 5px;
  text-underline-offset: 5px;
}

h2 {
  font-size: 2rem;
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  letter-spacing: -1px;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

h3 {
  font-size: 1.5rem;
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

h4 {
  font-size: 1rem;
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

h5 {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}
