/* Order matters */
@import url("core/reset.css");
@import url("core/spacing.css");
@import url("core/palette.css");
@import url("core/sane_defaults.css");
@import url("core/font.css");
@import url("design/theme.css");

body {
  background-color: var(--background-color);
  color: var(--text-color);

  padding: var(--spacing-med);

  transition:
    ease-in-out 0.3s background-color,
    ease-in-out 0.3s color;
}

h1 {
  font-size: 4rem;
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  letter-spacing: -2px;
}

h2 {
  font-size: 2rem;
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.5rem;
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
}

h4 {
  font-size: 1rem;
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
}

h5 {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
}
