.card {
  border-radius: var(--border-radius-med);
  border: 2.5px dashed var(--color-primary);
  padding: var(--spacing-xs) var(--spacing-sm);
  background-color: var(--grey-850);
  color: var(--text-color);

  max-width: 25rem;
}
