form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: min(100%, 40rem);

  header {
    font-size: 2rem;
    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    letter-spacing: -1px;
  }
}

fieldset {
  border: none;
  padding: 0;
}

label {
  padding-inline-start: calc(var(--spacing-xxs) - 2px);
  margin-bottom: var(--spacing-xxs);
}

input {
  min-width: 0;
  width: auto;
  background-color: var(--grey-700);
  color: var(--text-color);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border: 2px solid var(--grey-400);
  border-radius: var(--border-radius-sm);
  height: 4rem;
  font: var(--font-large);
}

.form-field-container {
  display: flex;
  flex-direction: column;
}
