form {
  width: min(100%, 40rem);

  header {
    padding: 0.75rem 1.66rem;
    background: linear-gradient(
      135deg,
      var(--color-primary),
      hsl(from var(--color-primary) h s 45%)
    );
    color: var(--background-color);

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    font-size: 2rem;
    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .form-body {
    padding: 1.5rem 1.66rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  footer {
    padding: 0.75rem 1.66rem 2.25rem 1.66rem;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    display: flex;
    justify-content: stretch;
  }
}

fieldset {
  border: none;
  padding: 0;
}

label {
  padding-inline-start: calc(var(--spacing-xxs) - 2px);
  margin-bottom: var(--spacing-xxs);
}

[data-theme="theme-light"] input {
  --input-bg-color: var(--beige-150);
}

[data-theme="theme-dark"] input {
  --input-bg-color: var(--grey-700);
}

input {
  min-width: 0;
  width: auto;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border: 2px solid var(--grey-400);
  border-radius: var(--border-radius-sm);
  height: 4rem;
  font: var(--font-large);
}

.form-field-container {
  display: flex;
  flex-direction: column;
}
