@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap");

:root {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
