:root {
  --cobalt-blue: rgb(43, 95, 191);
  --razzmatazz: #db3069ff;
  --royal-gold: #f5d547ff;
  --beige: #ebebd3ff;
  --gunmetal: #3c3c3bff;

  /* Colors */
  --color-black: var(--gunmetal);
  --color-white: var(--beige);
  --color-accent: var(--razzmatazz);
  --color-accent-2: var(--cobalt-blue);
}
