@import url("../core/index.css");

button {
  padding: var(--spacing-xs);
  color: var(--text-color);

  font:
    700 1.2rem "Alan Sans",
    sans-serif;
  background-color: var(--color-accent);
  border: 2px solid var(--text-color);
  border-radius: 5px;

  max-width: fit-content;
}
