@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --font-family: "Verdana", sans-serif;
  --pretty-font-family: "Georgia", serif;

  font-family: var(--font-family);
  font: var(--font);
}

a {
  color: var(--color-primary);
  font-weight: 600;
  text-underline-offset: 1.5px;
}

.font-large-bold {
  font: var(--font-large-bold);
}

.font-bold {
  font: var(--font-bold);
}

.font-light {
  color: rgba(from var(--text-color) r g b / 0.8);
  font: var(--font-light);
}

.font-small-light {
  color: rgba(from var(--text-color) r g b / 0.8);
  font: var(--font-small-light);
}
